@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --color-p: #7b4019;
  --color-sec: #ff7d29;
  --color-accent: #ffbf78;
  --color-bg: #ffeea9;
  --text-fluid: clamp(1.875rem, 1.878vw + 1.435rem, 3.125rem);
  --spacing-dyp: clamp(0.813rem, -0.491rem + 5.561vi, 4.375rem);

  --animate-move : move 1s ease-in-out 1 alternate both;
  @keyframes move {
    from {
      top: -150%;
    }
    to {
      top: 0;
    }
  }
}
